node_modules/
.expo/
dist/
web-build/
.idea/
.vscode/
*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
rootCA.pem
*.keystore
google-services.json
GoogleService-Info.plist
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
